# Environment and secrets
.env
.env.*
.gemini-clipboard

# Binaries and packages
*.dmg
*.apk
*.exe
.DS_Store
*.md
!README.md
Icon.png
*.txt
*.deb
*.pkg

# Compiled binaries
opcuababy-*
opcuababy


release
release/*
docs
docs/*
apitest
apitest/*
tools
tools/*
fyne-cross
fyne-cross/*
